body{
    background-color: #fff;
    padding: 0;
}
.h2{
    padding: 2rem 0;
    margin-top: 20px; 
    text-align: center;
    color: #060606;
    font-family: Arial, Helvetica, sans-serif;

    
}
.container{
    width: 80%;
    max-width: 50rem;
    height: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: auto; 
    border-radius: 1rem;
    background-color:#dfdfdf;
}

.box_container{
width: 100%;
display: flex;
justify-content: center;
}

.dhm{
    background-color: #dfdfdf;
    width: 80%;
}
.bar{
    padding: 30px;
    justify-self: center;
    
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: black;
}

.list{
    width: 31.4rem;
    display: flex;
}

.box_list{
    min-width: 100%;
    padding: 0.8rem;
    background-color: #fff;
    color: black;
    border-radius: 0.3rem;
    border: none;
}


.button{
    display: flex;
    width: 100%;
    padding: 5rem;
    justify-content:center;
   
}

.btn{
    padding: 14px;
    width: 100%;
    border-radius: 5px;
    background-color: #6c9f60;
    border: none;
    font-size: 14px;

}


@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    .box_list {
        width: 90%;
    }

    .btn {
        width: 10rem;
    }
}