.container {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
}

.content {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.calendarWrapper {
  background-color: #eaeaea;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1100px; 
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 30px;
}

.dayColumn {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.dayColumn:hover {
  background-color: #ddd;
}

.dayTitleContainer {
  background-color: #5c8c84;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: center;
}

.dayTitle {
  color: #fff;
  font-size: 16px; 
  font-weight: bold;
  text-transform: uppercase;
}

.appointment {
  margin-top: 10px;
  background-color: #fff;
  padding: 12px; 
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #5c8c84;
}

.doctorName {
  font-size: 14px; 
  font-weight: bold;
  color: #333;
}

.crm, .time {
  font-size: 12px;
  margin-top: 4px;
}
