.header {
  padding: 1rem;
  background-color: var(--verdeEscuro);
  color: white;
  position: absolute; 
  right: 0;
  height: 100%;
  top: 0;
}
.userIcon img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
}
