.SectionHomeUser{
    background-color: rgb(105, 104, 104);
    padding: 1rem;
    font-size: 2ch;
    transition: all 0.3s ease;
    min-width: 12rem;
} 
.sectionOpen {
    height: 100vh; 

  }
.closeMenu{
    position: absolute;
    right: 5%;
    top: 2%;
}

  @media (width < 900px) {
    .SectionHomeUser{
     position: absolute;
     min-width: 80%;

    } 
  }
aside{
    display: flex;
    flex-direction: column;
    gap: 2ch;

    .linkAside{
        width: 100%;
        color: #fff;
        text-decoration: none;
        &:hover{
            color: #353434;
        }
    }
}
.isMobile{
    height: 5%;
}